@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
  background-color: rgb(230, 194, 217);
  background-image: url('../img/mountains.png');
  background-repeat: no-repeat;
}

.keys {
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 150px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: rgb(85, 116, 180);
  color: #8c3b8c;

  .key {
    width: 15%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px dashed rgb(85, 116, 180);
    border-radius: 20px;
    padding: 1px;
    transition: all 0.09s;
    kbd {
      color: white;
      font-family: Roboto;
      font-weight: 900;
      font-size: 25px;
    }
  }
}

.down {
  transform: scale(10.1);
  border-color: white;
  box-shadow: 0 0 10px #8c3b8c;
}
