body {
  background-color: black;
  color: white;
}

.functions__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

span {
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

input {
  background-color: black;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  color: white;
  
}

button {
  background-color: orange;
  border: 4px solid white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.function__block {
  border: 7px dashed white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(93, 61, 182);
  width: 45%;
  transition: all 1s linear;
}

.result{
  word-wrap: break-word;
  max-width: 700px;
}

