body {
  background-color:black;
  color: white;
}

.functions--block {
  display: flex;
  flex-direction: column;
  .functions__item {
    font-family: sans-serif;
    font-size: 34px;
    margin-top: 50px;
  }
}

