body {
  background-color: black;
  color: white;
}

.result__wrapper {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4em;
  font-weight: 900;
  padding: 30px;
}

.input__wrapper {
  display: flex;
  justify-content: center;
}

#length__input {
  min-width: 3%;
  max-width: 10%;
  margin: 25px 10px 25px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  outline: none;
  border-radius: 10px;
  color: white;
}

.result {
  text-align: center;
  max-width: 95%;
}
