body {
	background-color: black;
	color: white;
	button {
		cursor: pointer;
	}
}

.generators__block {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	margin: 25% auto;
	.id-generator__block {
		margin-bottom: 20px;
		width: 90%;
		.id-generator__button {
			background-color: transparent;
			color: white;
			outline: none;
			border: 3px solid white;
			border-radius: 10px;
			transition: 0.7s;
			width: 100px;
			padding: 5px;
			margin-right: 10px;
			&:hover {
				background-color: white;
				color: black;
				border: 3px dashed black;
			}
		}
	}

	.font-size-generator__block {
		.font-size-generator__button--up {
			background-color: rgb(98, 45, 221);
			color: white;
			border: 3px solid white;
			border-radius: 10px;
			transition: 0.7s;
			width: 100px;
			padding: 5px;
			margin-right: 10px;
			&:hover {
				background-color: white;
				color: black;
				border: 3px dashed black;
			}
		}

		.font-size-generator__button--down {
			background-color: rgb(224, 110, 16);
			color: black;
			border: 3px solid white;
			border-radius: 10px;
			transition: 0.7s;
			width: 100px;
			padding: 5px;
			margin-right: 10px;
			&:hover {
				background-color: white;
				color: black;
				border: 3px dashed black;
			}
		}

		.font-size-generator__result {
			font-size: 14px;
			margin-right: 10px;
		}
	}
}
