@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-image: url('/img/background.jpg');
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
  color: white;
  font-family: 'Noto Serif', serif;
}

.hidden{
  display: none;
}

.character-info__section {
  margin: 25% auto 10px;
  display: flex;
  width: 70%;
  padding: 10px;
  justify-content: space-around;
  #episodes-select {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  #getCharacters {
    background-color: rgb(90, 67, 223);
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      border: 5px solid white;
      background-color: rgb(53, 25, 211);
    }
  }
}

.characters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  &__card {
    margin: 50px auto;
    padding: 10px;
    border: 10px dashed white;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    height: 10%;

    .character__name {
      font-weight: 700;
      font-size: 2em;
      margin: 40px auto;
    }
    .character__photo--image {
      margin: 20px;
      width: 80%;
    }

    .character__birth-year {
      font-weight: 700;
    }
    .character__gender--image {
      margin: 40px auto;
      width: 10%;
    }
  }
}

.planets-info__section {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  #getPlanets--button {
    background-color: rgb(203, 133, 47);
    padding: 10px;
    color: black;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    transition: .5s;
    &:hover {
      cursor: pointer;
      border: 5px solid white;
      background-color: rgb(194, 118, 26);
    }
  }
  .nav-buttons__block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    #prev-planets--button,
    #next-planets--button {
      background-color: rgb(90, 67, 223);
      padding: 10px;
      color: white;
      font-size: 20px;
      border: 5px solid black;
      border-radius: 10px;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        border: 5px solid white;
        background-color: rgb(53, 25, 211);
      }
    }
  }
}

.planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .planet__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    border: 5px dashed white;
    border-radius: 10px;
    margin: 10px;
    .planet-name {
      font-weight: 700;
    }
    .planet-image {
      width: 70%;
    }
  }
}
