@import '~normalize.css';
@import 'font.scss';
@import './card/wrapper.scss';
@import './card/card.scss';
@import './card/input.scss';
@import './card/button.scss';
@import './card/result.scss';
@import './card/description.scss';
@import './card/select.scss';
@import '../assets/homeworks/09_DOM/style.css';
@import '../assets/homeworks/10_Events/style.scss';
@import '../assets/homeworks/12_Work-with-server/styles/style.scss';

$body-color: rgb(0, 0, 0);

body {
	font-family: 'Roboto', sans-serif;
	background-color: $body-color;
}

.page--title {
	text-align: center;
	margin: 5% 0;
}
