body {
  // background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
}

.results {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}

.characters__block {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  width: 15%;
  height: 30%;
  background-color: white;
}

.character__photo--image{
  margin: 20px;
  width: 90%;
}

.character__gender--image {
  margin-top: 20px;
  width: 25%;
  height: 55%;
}

