button {
	background-color: black;
	color: aliceblue;
	outline: none;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
	transition: 0.3s all;

	&:hover,
	&:focus {
		border: 3px dashed white;
		padding: 10px 10% 10px 10%;
		cursor: pointer;
	}
}

.hidden {
	display: none;
}

#colorizeBlocksButton {
	backdrop-filter: blur(100px);
	background-color: transparent;
	color: rgb(0, 0, 0);
	margin: 10px;
	border: 3px solid rgb(13, 13, 13);
	border-radius: 10px;
	padding: 10px;
	transition: 0.3s all;
	
	&:hover,
	&:focus {
		border: 3px dashed rgb(1, 1, 1);
		padding: 10px 10% 10px 10%;
		cursor: pointer;
	}
}
