button {
	background-color: black;
	color: aliceblue;
	outline: none;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
  transition: .3s all;
  &:hover, &:focus{
    border: 3px dashed white;
    padding: 10px 10% 10px 10%;
    cursor: pointer;
  }
}
