.homework__card {
	backdrop-filter: blur(100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 35%;
	max-height: 30%;
	border: 5px dashed white;
	border-radius: 10px;
	padding: 10px;
	margin: 1%;
}
