.homework__card {
	background-color: rgb(230, 125, 230);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 45%;
	min-width: 35%;
	max-height: 30%;
	border: 5px dashed white;
	border-radius: 10px;
	padding: 10px;
	margin: 1%;
	
}
