.result-wrapper {
	margin: 20px;
	text-align: center;
	.result {
		font-size: 1.3em;
	}
}

.third-card-result__wrapper {
	max-width: 90%;
	.result {
		width: 90%;
		word-wrap: break-word;
	}
}

.eighth-card-result__wrapper {
	.keys {
		position: inherit;

	}
}
