select {
	text-align: center;
  appearance:none;
	background-color: transparent;
	color: rgb(0, 0, 0);
	outline: none;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
	transition: 0.3s all;
	&:hover,
	&:focus {
		backdrop-filter: blur(100px);
		border: 3px dashed white;
		padding: 10px 30% 10px 30%;
		cursor: pointer;
	}
}
