body{
  background-color: black;
}

.block__wrapper{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  width: 250px;
  margin: 150px auto;
}

.block{
  width: 50px;
  height: 50px;

}


